{% extends 'base.html.twig' %}

{% block body %}
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ipsa non quam soluta vero. Alias at deserunt
        ipsum laudantium mollitia nihil, perspiciatis placeat quos repudiandae sint, suscipit tempore ut, vero.
    </div>
    <div>Ab aspernatur aut consectetur deserunt dolore dolores et explicabo fugiat, ipsa ipsam labore necessitatibus
        officia officiis quos reprehenderit, sint tempora velit, voluptas. Assumenda impedit necessitatibus neque nisi
        sunt, ut veritatis?
    </div>
{% endblock %}

{% block title %}

{% endblock %}

