{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium culpa distinctio doloribus eum impedit
        incidunt, labore, necessitatibus pariatur perferendis provident quae quas quidem quod repudiandae rerum sit
        suscipit vitae!
    </div>
    <div>Accusamus aperiam assumenda at blanditiis consectetur consequatur dicta dolor expedita fuga harum in iste,
        maxime nemo nihil nobis non quasi quia ratione rem soluta! Aut blanditiis eos hic quam recusandae!
    </div>
    <div>Atque, distinctio dolore dolorem facere minima recusandae sint. Architecto aspernatur assumenda debitis fugit
        incidunt laboriosam omnis porro provident, qui sint soluta tenetur unde voluptate. Consequatur iusto numquam
        provident quia ratione.
    </div>
</div>
{% endblock %}
