@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
*{
    font-family: 'Mukta', sans-serif;
}

#wish_form > div{
    margin:7px;
}

#wish_form > div > input, select{
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

.alert{
    margin: auto;
    background-color: green;
    width: 100%;
    text-align: center;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #04AA6D;
}


footer {
    text-align: center;
    padding: 5px;
    position:absolute;
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:50px;   /* Hauteur du pied de page */
    background-color: #04AA6D;
}