{% extends 'base.html.twig' %}

{% block title %}Hello WishController!{% endblock %}

{% block body %}
<h2>Liste Wishes</h2>
    <table>
        {% for wish in wishes %}
            <tr>
               <td><a href="{{ path('app_wish_detail',{'wish':wish.id}) }}">{{ wish.title }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
